<html>
  <head>
    {% if title %}
      <title>{{title}}</title>
    {% else %}
      <title>Fixture Inspector</title>
    {% endif %}
  </head>
  <body>
    <p>
        Lot Number<br>
        {{json.lot_number}}
    </p>
    <p>
        usb<br>
        {{json.usb_drive}}
    </p>
    <p>
      <img src="{{url_for('static', filename=json.image000)}}" width=750 height=452>
      <img src="{{url_for('static', filename=json.image090)}}" width=750 height=452>
    </p>
    <p>
      <img src="{{url_for('static', filename=json.image180)}}" width=750 height=452>
      <img src="{{url_for('static', filename=json.image270)}}" width=750 height=452>
    </p>
  </body>
</html>