<html>
    <head>
        <title>Fixture Inspector</title>
    </head>
    <body>
        <form action = "/shoot" method="post">
            <p>
                {{form.lot_number.label }}<br>
                {{form.lot_number(size=32) }}
            </p>
            <p>
                {{form.usb_drive.label}}<br>
                {{form.usb_drive()}}
            </p>
            <p>
                {{form.shoot()}}
            </p>
        </form>
        <form action = "/on" method="post">
            <input type="submit" value="on">
        </form>
        <form action = "/off" method="post">
            <input type="submit" value="off">
        </form>
        <form action = "/idle" method="post">
            <input type="submit" value="idle">
        </form>
    </body>
</html>