<html>
    <head>
        <title>Fixture Inspector</title>
    </head>
    <body>
        <form action = "/ledon" method="post">
            <input type="submit" value="LED On">
        </form>
        <form action = "/ledoff" method="post">
            <input type="submit" value="LED Off">
        </form>
        <form action = "/plason" method="post">
            <input type="submit" value="Plasma On">
        </form>
        <form action = "/plasoff" method="post">
            <input type="submit" value="Plasma Off">
        </form>
        <form action = "/size_original">
            <input type="submit" value="Size Original">
        </form>
        <form action = "/size_2m">
            <input type="submit" value="Size 2M">
        </form>
    </body>
</html>